__pycache__/
*.py[cod]

.mypy_cache/

dist/
*.egg-info/

docs/build/
docs/source/_build/

downloads/
korone.conf
korone.sqlite
*.session*
*.db*

venv/

.vscode

.python-version
requirements-dev.lock
requirements.lock
